.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-qQnBow3beP8R);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-oKqC9XV7ncRW);
  width: var(--token-oKqC9XV7ncRW);
  border-radius: 99px;
  border: 1px solid var(--token-tnUf3n8uUncy);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-tnUf3n8uUncy);
  outline-offset: 1px;
}
