.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-Jn4LfMqanxqK);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__zOppm {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-Jn4LfMqanxqK);
}
.radio__fhMla:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__nmfj2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__qPEwW:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
