.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-Jn4LfMqanxqK);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__mkIsB {
  display: flex;
  flex-direction: column;
}
.freeBox__ofeqe {
  flex-direction: row;
  position: absolute;
  height: var(--token-H0LaPBsBjIOg);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-xXCsRlF31u_h) var(--token-OaKcuzTBqpQc);
}
.freeBoxiconStart__ofeqe4Ssrw {
  display: flex;
}
.slotTargetStart {
  color: var(--token-FOOQv3JQ9-2e);
}
.svg___3HJTk {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__jU5G {
  height: var(--token-H0LaPBsBjIOg);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-xXCsRlF31u_h) var(--token-OaKcuzTBqpQc);
}
.freeBoxiconEnd__jU5GZ0K1 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-FOOQv3JQ9-2e);
}
.svg___8RldB {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
