.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.pageBanerSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #004c12c4;
  transform: skew(0deg, 0deg);
  border-top-width: 0px;
  border-right-width: 100px;
  border-bottom-width: 0px;
  border-left-width: 100px;
  min-width: 0;
  border-radius: 0px;
  padding: 80px 20px;
  border-style: solid;
  border-color: var(--token-WmwAOz5SWu4i);
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection {
    border-top-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 10px;
  }
}
.freeBox__my1Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-spDqyVtENu9n);
  min-width: 0;
  padding: var(--token-AtfLXsnYkpxS);
}
.h1__bEOk3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.produtos {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.produtos > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.produtos > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.produtos > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .produtos {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .produtos > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__dJj6G {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.multilimpador:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 414px;
  height: 405px;
  flex-shrink: 0;
}
.img__rmWoj {
  object-fit: contain;
  max-width: 381%;
  margin-right: 0px;
  width: 548px;
  height: 277px;
  object-position: center 50%;
  align-self: auto;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
}
.img__rmWoj > picture > img {
  object-fit: contain;
  object-position: center 50%;
}
.descricaoMulti {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__nIsVl {
  object-fit: contain;
  max-width: 381%;
  margin-right: 0px;
  width: 548px;
  height: 277px;
  object-position: center 50%;
  align-self: auto;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  flex-shrink: 0;
}
.img__nIsVl > picture > img {
  object-fit: contain;
  object-position: center 50%;
}
.text__pGxbM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3__rJhs {
  text-align: center;
}
.text___2XkR6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 11px;
  text-align: center;
  min-width: 0;
}
.text__xgtS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: #087e00;
  text-align: center;
  min-width: 0;
}
.text__en7HP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 11px;
  text-align: center;
  min-width: 0;
}
.text__fvKZu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: #087e00;
  text-align: center;
  min-width: 0;
}
.freeBox__kGpdT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  margin-top: 0px;
  min-width: 0;
  padding: 8px;
}
.svg__bfYi6 {
  object-fit: cover;
  max-width: 100%;
  width: 89px;
  height: 142px;
  align-self: flex-end;
  flex-shrink: 0;
}
.svg___16Xrk {
  object-fit: cover;
  max-width: 100%;
  width: 79px;
  margin-top: 0px;
  height: 113px;
  align-self: center;
  margin-left: 10px;
  flex-shrink: 0;
}
.column__cSkl8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.porcelato:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 464px;
  height: 402px;
  flex-shrink: 0;
}
.img___1BDsz {
  object-fit: contain;
  max-width: 381%;
  margin-right: 0px;
  width: 548px;
  height: 277px;
  object-position: center 50%;
  align-self: auto;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
}
.img___1BDsz > picture > img {
  object-fit: contain;
  object-position: center 50%;
}
.descricaoMulti2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__uHkJp {
  object-fit: contain;
  max-width: 381%;
  margin-right: 0px;
  width: 548px;
  height: 277px;
  object-position: center 50%;
  align-self: auto;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  flex-shrink: 0;
}
.img__uHkJp > picture > img {
  object-fit: contain;
  object-position: center 50%;
}
.text__ymTGr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3__seLhc {
  text-align: center;
}
.text___6UmP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 11px;
  text-align: center;
  min-width: 0;
}
.text__izfiO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: #087e00;
  text-align: center;
  min-width: 0;
}
.text___6PaR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 11px;
  text-align: center;
  min-width: 0;
}
.text___0WpQ9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: #087e00;
  text-align: center;
  min-width: 0;
}
.freeBox__ot9T6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  margin-top: 0px;
  min-width: 0;
  padding: 8px;
}
.svg__uu7OF {
  object-fit: cover;
  max-width: 100%;
  width: 89px;
  height: 142px;
  align-self: flex-end;
  flex-shrink: 0;
}
.svg__hqdhY {
  object-fit: cover;
  max-width: 100%;
  width: 79px;
  margin-top: 0px;
  height: 113px;
  align-self: center;
  margin-left: 10px;
  flex-shrink: 0;
}
.column__sjyhC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.porcelatoPesada:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 464px;
  height: 402px;
  flex-shrink: 0;
}
.img__q3SeX {
  object-fit: contain;
  max-width: 381%;
  margin-right: 0px;
  width: 548px;
  height: 277px;
  object-position: center 50%;
  align-self: auto;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
}
.img__q3SeX > picture > img {
  object-fit: contain;
  object-position: center 50%;
}
.descricaoMulti3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__jnLj {
  object-fit: contain;
  max-width: 381%;
  margin-right: 0px;
  width: 548px;
  height: 277px;
  object-position: center 50%;
  align-self: auto;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  flex-shrink: 0;
}
.img__jnLj > picture > img {
  object-fit: contain;
  object-position: center 50%;
}
.text__lu05V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3__ujWo {
  text-align: center;
}
.text__l953 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 11px;
  text-align: center;
  min-width: 0;
}
.text__rFeul {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: #087e00;
  text-align: center;
  min-width: 0;
}
.text__dn9XG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 11px;
  text-align: center;
  min-width: 0;
}
.text__vF4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: #087e00;
  text-align: center;
  min-width: 0;
}
.freeBox__wrTC {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  margin-top: 0px;
  min-width: 0;
  padding: 8px;
}
.svg__ux50E {
  object-fit: cover;
  max-width: 100%;
  width: 89px;
  height: 142px;
  align-self: flex-end;
  flex-shrink: 0;
}
.svg__jDabg {
  object-fit: cover;
  max-width: 100%;
  width: 79px;
  margin-top: 0px;
  height: 113px;
  align-self: center;
  margin-left: 10px;
  flex-shrink: 0;
}
