.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.img__ix0JP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ix0JP > picture > img {
  object-fit: cover;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 527px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: -112px;
  row-gap: 9px;
  padding: 30px;
  border-bottom: 6px solid #fe5737e0;
}
.h3__t4EO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__wBlNg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__uGEnd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
  flex-shrink: 0;
}
.svg__zLo7F {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lSw4 {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__thrVw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
