.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.button2___1Sm4D:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__umQoI {
  position: relative;
  height: 1em;
}
.svg__zFs7M {
  position: relative;
  height: 1em;
}
.ariaPopover:global(.__wab_instance) {
  font-family: var(--token-885t8My_fmrw);
  font-size: var(--token-E5Sx_JgFXEWk);
  color: var(--token-53WMGnaZ0Ijo);
  line-height: var(--token-RQcG15s4lxG6);
  box-shadow: 0px 0px 20px 0px #00000040;
  border-radius: var(--token-VTGAy2_0nNQ2);
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  outline-style: none;
}
.freeBox___3LDmG {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  background: var(--token-qQnBow3beP8R);
  align-items: flex-start;
  width: 320px;
  row-gap: var(--token-gzCG8S2aFZjQ);
  border-radius: var(--token-VTGAy2_0nNQ2);
  padding: var(--token-WieoZaz6vu0B);
}
.text__blvIw {
  position: relative;
}
.text___7R6Oc {
  position: relative;
  font-weight: 500;
}
.text__xeDzz {
  position: relative;
}
