.ariaRangeSlider:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--token-53WMGnaZ0Ijo);
  font-family: var(--token-885t8My_fmrw);
  font-size: var(--token-E5Sx_JgFXEWk);
  line-height: var(--token-RQcG15s4lxG6);
  min-width: 200px;
  row-gap: var(--token-VTGAy2_0nNQ2);
}
.ariaRangeSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__zxQlG {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  column-gap: var(--token-gzCG8S2aFZjQ);
}
.text__wqqhP {
  position: relative;
}
.text {
  position: relative;
}
.freeBox__yl6Rg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-xXCsRlF31u_h);
  padding-bottom: var(--token-xXCsRlF31u_h);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-nzIXJB7lFl49);
  height: var(--token-gzCG8S2aFZjQ);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-gzCG8S2aFZjQ);
  width: 100%;
  min-width: 0;
}
.sliderThumb__rr0R:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-Jn4LfMqanxqK);
}
.foreground {
  display: block;
  background: var(--token-tnUf3n8uUncy);
  height: var(--token-gzCG8S2aFZjQ);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
