.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.pageBanerSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background:
    linear-gradient(#363636c4, #363636c4),
    url("/plasmic/professional_services/images/baerMainJpg.jpg") left 50% bottom 70% / cover repeat;
  transform: skew(0deg, 0deg);
  border-top-width: 0px;
  border-right-width: 100px;
  border-bottom-width: 0px;
  border-left-width: 100px;
  min-width: 0;
  border-radius: 0px;
  padding: 80px 20px;
  border-style: solid;
  border-color: var(--token-WfnFeAqVe-pL);
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection {
    border-top-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background:
      linear-gradient(#363636c4, #363636c4),
      url("/plasmic/professional_services/images/woman32879561920Jpg.jpg") top 50% left 50% / cover repeat;
    transform: skew(0deg, 0deg);
    column-gap: 0px;
    min-width: 0;
    border-radius: 0px;
    padding: 80px 20px;
    border-style: solid;
    border-color: var(--token-WfnFeAqVe-pL);
  }
}
.freeBox__nMcDc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-spDqyVtENu9n);
  min-width: 0;
  padding: var(--token-AtfLXsnYkpxS);
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #efefef;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #efefef;
    column-gap: 0px;
    min-width: 0;
    padding: 80px 20px;
  }
}
.freeBox__vOwj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-spDqyVtENu9n);
  min-width: 0;
  padding: 0px;
}
.freeBox__uIrQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__uIrQ {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.freeBox__gb43M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  flex-wrap: wrap;
  overflow: visible;
  align-content: flex-start;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  column-gap: 25px;
  row-gap: 40px;
  min-width: 0;
  --plsmc-rc-col-gap: 25px;
  padding: 0px;
  margin: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    flex-grow: 1;
    column-gap: 25px;
    row-gap: 25px;
    min-width: 0;
    --plsmc-rc-col-gap: 25px;
    padding: 34px 0px 0px;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8S1Bq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__lRi0B:global(.__wab_instance) {
  position: relative;
}
.img__uYfP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__uYfP > picture > img {
  object-fit: cover;
}
.h3__whFlh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__l2Ysw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__gzon1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__lZYeL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jl3XL {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__jzbwH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__lSvtA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__suVp:global(.__wab_instance) {
  position: relative;
}
.img__kwY4Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kwY4Q > picture > img {
  object-fit: cover;
}
.h3__jhc3C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__nO6Wh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__pKqMr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__eNgRv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hRaxo {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg___113Ot {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__qIKx7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__eYIjX:global(.__wab_instance) {
  position: relative;
}
.img__l8XkT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__l8XkT > picture > img {
  object-fit: cover;
}
.h3__qe7Th {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__pw5Om {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__lj5NK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__xwuMv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xwzfe {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__h0KwJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__s9R0U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__uYWzO:global(.__wab_instance) {
  position: relative;
}
.img__lMzjf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__lMzjf > picture > img {
  object-fit: cover;
}
.h3___9XDaJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__gqaFz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__uJvU3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__utXmT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9Ir6I {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__xd94 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__r0Vpm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__h4R6D:global(.__wab_instance) {
  position: relative;
}
.img__oHcI2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__oHcI2 > picture > img {
  object-fit: cover;
}
.h3___3R8S5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__sP7Ln {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__pQv7Y:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__teYDp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yh3Ij {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__btrT6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__amdju {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__euOqi:global(.__wab_instance) {
  position: relative;
}
.img__qDYrQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qDYrQ > picture > img {
  object-fit: cover;
}
.h3__rcoT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__cLAn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__h2A2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg___1DjUg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lp6Q8 {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__eyU3H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__nvKPn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__jToId:global(.__wab_instance) {
  position: relative;
}
.img__ouzEq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ouzEq > picture > img {
  object-fit: cover;
}
.h3__f4Hk4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__eUvs0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__ejsO3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg___0BKzp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__paXd4 {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__r3IzP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__nF6T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__f7Pj7:global(.__wab_instance) {
  position: relative;
}
.img__jYzuU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__jYzuU > picture > img {
  object-fit: cover;
}
.h3__xd3ER {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jfyPb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__g8PkG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__jSwWu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__e2A9X {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__ce8Ux {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.ctaBottom:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .ctaBottom:global(.__wab_instance) {
    position: relative;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
