.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background:
    linear-gradient(#00000063, #00000063),
    url("/plasmic/professional_services/images/woman32879561920Jpg.jpg") left 50% bottom 8.94% / cover repeat;
  position: relative;
  min-width: 0;
  padding: 128px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding: 80px 20px;
  }
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 930px;
  row-gap: 32px;
  min-width: 0;
  padding: var(--token-AtfLXsnYkpxS);
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: var(--token-1nW-qoUFPdRv);
  text-align: center;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 23px;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yB7EL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__udx2T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
