.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-tnUf3n8uUncy);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-gzCG8S2aFZjQ);
  font-family: var(--token-885t8My_fmrw);
  font-size: var(--token-E5Sx_JgFXEWk);
  line-height: var(--token-RQcG15s4lxG6);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-xXCsRlF31u_h);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-THiMqvFUsqrb);
  outline-offset: 1px;
  outline-color: var(--token-tnUf3n8uUncy);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-hT9tgPLHKA87);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-Ir0YxDEYKVzH);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-WmwAOz5SWu4i);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-Ufsu7dEduYuW);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-FlJ39jPzP1dc);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-tSqYGRQOBavh);
  font-size: var(--token-KmAKTVH9ap0Y);
  column-gap: var(--token-THiMqvFUsqrb);
  row-gap: 0px;
  border-radius: var(--token-Jn4LfMqanxqK);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-KmAKTVH9ap0Y);
  line-height: var(--token-tSqYGRQOBavh);
  column-gap: var(--token-Jn4LfMqanxqK);
  row-gap: 0px;
  border-radius: var(--token-Jn4LfMqanxqK);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-WDdd1uAmIRWC);
  line-height: var(--token-UEUAWYqYOTiV);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-WDdd1uAmIRWC);
  line-height: var(--token-UEUAWYqYOTiV);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-dQ1ZSe0VySHT);
  border-radius: var(--token-xXCsRlF31u_h);
}
.softBackgroundcolor_neutral {
  background: var(--token-kghT99qLGHlY);
}
.softBackgroundcolor_muted {
  background: var(--token-xuFlSSkWodBT);
}
.softBackgroundcolor_success {
  background: var(--token-z227aBCmRXr5);
}
.softBackgroundcolor_warning {
  background: var(--token-qfgqDLIZ7SBt);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-4lG_m6VWQbAB);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-xXCsRlF31u_h);
  border: 0px solid var(--token-YvNh35e7FgZ_);
}
.bordercolor_neutral {
  border-color: var(--token-23GqCLOG9eYG);
}
.bordercolor_muted {
  border-color: var(--token-4kDhsc8uvdzu);
}
.bordercolor_success {
  border-color: var(--token-O9kbBwOuMg-X);
}
.bordercolor_warning {
  border-color: var(--token-dS8LPUZn-I5t);
}
.bordercolor_errorDestructive {
  border-color: var(--token-DgMR8sUDjOeN);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-xXCsRlF31u_h);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-oBoayxmSlBaT);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-FiaNr0R3JydF);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-qwbGcCQ96BOd);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__m0Jxs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-xXCsRlF31u_h);
  min-width: 0;
  min-height: 0;
  padding: var(--token-xXCsRlF31u_h) var(--token-OaKcuzTBqpQc);
}
.freeBoxsize_extraSmall__m0JxsJkQ4O {
  padding: var(--token-Jn4LfMqanxqK) var(--token-xXCsRlF31u_h);
}
.freeBoxsize_small__m0JxsODjcr {
  padding: var(--token-xXCsRlF31u_h) var(--token-gzCG8S2aFZjQ);
}
.freeBoxsize_large__m0JxsnXDrS {
  padding-top: var(--token-Jn4LfMqanxqK);
  padding-bottom: var(--token-Jn4LfMqanxqK);
}
.freeBoxsize_extraLarge__m0JxsQbNf8 {
  padding-left: var(--token-VTGAy2_0nNQ2);
  padding-right: var(--token-VTGAy2_0nNQ2);
}
.freeBoxroundedFull__m0Jxs1XCna {
  padding-right: var(--token-VTGAy2_0nNQ2);
  padding-left: var(--token-VTGAy2_0nNQ2);
}
.freeBox___76GfV {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___76GfV8KtWv {
  display: flex;
}
.slotTargetStart {
  color: var(--token-mVwN6g2If7PZ);
}
.slotTargetStartcolor_neutral {
  color: var(--token-KRddXwM35Je7);
}
.slotTargetStartcolor_muted {
  color: var(--token-MKnsf8Ma9bIy);
}
.slotTargetStartcolor_success {
  color: var(--token-WyGWKvIHI2RN);
}
.slotTargetStartcolor_warning {
  color: var(--token-Pp74NicpmWHh);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-U4xqfgzuj-cN);
}
.slotTargetStarttype_soft {
  color: var(--token-Qgr7jl2NwsAv);
}
.slotTargetStarttype_bordered {
  color: var(--token-Qgr7jl2NwsAv);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-KmAKTVH9ap0Y);
}
.slotTargetStartsize_small {
  font-size: var(--token-KmAKTVH9ap0Y);
}
.slotTargetStartsize_large {
  font-size: var(--token-WDdd1uAmIRWC);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-WDdd1uAmIRWC);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-R8lEGcclzm8W);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-R8lEGcclzm8W);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-y1q7AjEiZG1S);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-y1q7AjEiZG1S);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-8rSmV_GvETX8);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-8rSmV_GvETX8);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-t166FqcQpL-F);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-t166FqcQpL-F);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-4k9BQFlr_14C);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-4k9BQFlr_14C);
}
.svg__yW1Ti {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-mVwN6g2If7PZ);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-KRddXwM35Je7);
}
.slotTargetLabelcolor_muted {
  color: var(--token-MKnsf8Ma9bIy);
}
.slotTargetLabelcolor_success {
  color: var(--token-WyGWKvIHI2RN);
}
.slotTargetLabelcolor_warning {
  color: var(--token-Pp74NicpmWHh);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-U4xqfgzuj-cN);
}
.slotTargetLabeltype_soft {
  color: var(--token-Qgr7jl2NwsAv);
}
.slotTargetLabeltype_bordered {
  color: var(--token-Qgr7jl2NwsAv);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-R8lEGcclzm8W);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-y1q7AjEiZG1S);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-R8lEGcclzm8W);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-8rSmV_GvETX8);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-y1q7AjEiZG1S);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-t166FqcQpL-F);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-8rSmV_GvETX8);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-4k9BQFlr_14C);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-t166FqcQpL-F);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-4k9BQFlr_14C);
}
.text__upQeQ {
  white-space: pre;
}
.freeBox__sWiDy {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__sWiDyZxS1Q {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-mVwN6g2If7PZ);
}
.slotTargetEndcolor_neutral {
  color: var(--token-KRddXwM35Je7);
}
.slotTargetEndcolor_muted {
  color: var(--token-MKnsf8Ma9bIy);
}
.slotTargetEndcolor_success {
  color: var(--token-WyGWKvIHI2RN);
}
.slotTargetEndcolor_warning {
  color: var(--token-Pp74NicpmWHh);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-U4xqfgzuj-cN);
}
.slotTargetEndtype_soft {
  color: var(--token-Qgr7jl2NwsAv);
}
.slotTargetEndtype_bordered {
  color: var(--token-Qgr7jl2NwsAv);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-KmAKTVH9ap0Y);
}
.slotTargetEndsize_small {
  font-size: var(--token-KmAKTVH9ap0Y);
}
.slotTargetEndsize_large {
  font-size: var(--token-WDdd1uAmIRWC);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-WDdd1uAmIRWC);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-R8lEGcclzm8W);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-R8lEGcclzm8W);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-y1q7AjEiZG1S);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-y1q7AjEiZG1S);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-8rSmV_GvETX8);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-8rSmV_GvETX8);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-t166FqcQpL-F);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-t166FqcQpL-F);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-4k9BQFlr_14C);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-4k9BQFlr_14C);
}
.svg__vs1N6 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
