.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.pageBanerSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background:
    linear-gradient(#363636c4, #363636c4),
    url("/plasmic/professional_services/images/woman32879561920Jpg.jpg") top 50% left 50% / cover repeat;
  transform: skew(0deg, 0deg);
  border-top-width: 0px;
  border-right-width: 100px;
  border-bottom-width: 0px;
  border-left-width: 100px;
  min-width: 0;
  border-radius: 0px;
  padding: 80px 20px;
  border-style: solid;
  border-color: var(--token-WfnFeAqVe-pL);
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection {
    border-top-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 10px;
  }
}
.freeBox__my1Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-spDqyVtENu9n);
  min-width: 0;
  padding: var(--token-AtfLXsnYkpxS);
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__umFG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__moAhR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__gYngR {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.popover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img__rmWoj {
  object-fit: contain;
  max-width: 381%;
  margin-right: 0px;
  width: 219px;
  height: 277px;
  object-position: center 50%;
  align-self: auto;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
}
.img__rmWoj > picture > img {
  object-fit: contain;
  object-position: center 50%;
}
.descricaoMulti {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__pGxbM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3__rJhs {
  text-align: center;
}
.text___2XkR6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 11px;
  text-align: center;
  min-width: 0;
}
.text__xgtS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: #087e00;
  min-width: 0;
}
.text__en7HP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 11px;
  text-align: center;
  min-width: 0;
}
.text__fvKZu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: #087e00;
  text-align: center;
  min-width: 0;
}
.freeBox__kGpdT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  margin-top: 0px;
  min-width: 0;
  padding: 8px;
}
.svg__bfYi6 {
  object-fit: cover;
  max-width: 100%;
  width: 89px;
  height: 142px;
  align-self: flex-end;
  flex-shrink: 0;
}
.svg___16Xrk {
  object-fit: cover;
  max-width: 100%;
  width: 79px;
  margin-top: 0px;
  height: 113px;
  align-self: center;
  margin-left: 10px;
  flex-shrink: 0;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__mNix7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-spDqyVtENu9n);
  background: none;
  margin-top: 80px;
  margin-bottom: 80px;
  min-width: 0;
  padding: var(--token-AtfLXsnYkpxS);
}
.freeBox___1DbIy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qM5L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  flex-wrap: wrap;
  overflow: hidden;
  align-content: flex-start;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.columns__bh6CS {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  column-gap: 0px;
  row-gap: 25px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 1px 0px 0px;
  margin: 0px;
}
.columns__bh6CS > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__bh6CS > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bh6CS {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    flex-grow: 1;
    column-gap: 0px;
    row-gap: 0px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    padding: 1px 0px 0px;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bh6CS > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__km8Ei {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__yMgJf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  transform: none;
  min-width: 0;
  min-height: 0;
}
.img__yMgJf > picture > img {
  object-fit: cover;
}
.column__vOsk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: var(--token-qUxMcB7uaqHF);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__vOsk {
    padding: 5px 30px 30px;
  }
}
.freeBox__rJJkO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 834px;
  height: auto;
  max-width: 100%;
  background: var(--token-qUxMcB7uaqHF);
  row-gap: 20px;
  padding: 25px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-1nW-qoUFPdRv);
  min-width: 0;
}
.text___9ZyF3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-1nW-qoUFPdRv);
  min-width: 0;
}
.columns___5Tw8Q {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  column-gap: 25px;
  row-gap: 25px;
  min-width: 0;
  --plsmc-rc-col-gap: 25px;
  padding: 0px;
  margin: 0px;
}
.columns___5Tw8Q > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___5Tw8Q > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___5Tw8Q {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    flex-grow: 1;
    column-gap: 25px;
    row-gap: 25px;
    min-width: 0;
    --plsmc-rc-col-gap: 25px;
    padding: 34px 0px 0px;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___5Tw8Q > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mAQrI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__jG6My:global(.__wab_instance) {
  position: relative;
}
.svg__uGc7U {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__kFIp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__eoxk:global(.__wab_instance) {
  position: relative;
}
.svg___36Gf8 {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column___6MIr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__hNuk:global(.__wab_instance) {
  position: relative;
}
.svg__sAbv {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__zMq9M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__dFv3K:global(.__wab_instance) {
  position: relative;
}
.svg__d1UGf {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
