.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  background: var(--token-1nW-qoUFPdRv);
  box-shadow: 0px 4px 16px 0px #0000000f;
  position: relative;
  column-gap: 16px;
  min-width: 0;
  padding: 30px;
}
.freeBox___8QsB {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-WfnFeAqVe-pL);
  border-radius: 8px;
  padding: 8px;
}
.svg__skQ6 {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox__wb3Wl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 7px;
}
.h3 {
  display: flex;
  flex-direction: row;
}
