.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-ntpHSrP6DVSZ);
  font-size: var(--token-E5Sx_JgFXEWk);
  line-height: var(--token-RQcG15s4lxG6);
  width: 100%;
  color: var(--token-53WMGnaZ0Ijo);
  font-family: var(--token-885t8My_fmrw);
  min-width: 0;
  border-radius: var(--token-xXCsRlF31u_h);
  padding: var(--token-xXCsRlF31u_h) var(--token-OaKcuzTBqpQc);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-tnUf3n8uUncy);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-xuFlSSkWodBT);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-E-Lbp5cKFESs);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-xuFlSSkWodBT);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-H0LaPBsBjIOg);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-H0LaPBsBjIOg);
}
