.ariaSelect:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-Jn4LfMqanxqK);
  min-width: 0;
}
.ariaSelect[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px var(--token-ntpHSrP6DVSZ);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline-style: none;
  background: var(--token-qQnBow3beP8R);
  min-width: 0;
  border-radius: var(--token-xXCsRlF31u_h);
  padding: 0px;
  border-style: none;
}
.ariaSelect[data-focus-visible] .ariaButton:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-THiMqvFUsqrb);
  outline-offset: 1px;
  outline-color: var(--token-tnUf3n8uUncy);
}
.ariaSelectedValue:global(.__wab_instance) {
  font-size: var(--token-E5Sx_JgFXEWk);
  line-height: var(--token-RQcG15s4lxG6);
  padding-top: var(--token-xXCsRlF31u_h);
  padding-bottom: var(--token-xXCsRlF31u_h);
  padding-left: var(--token-OaKcuzTBqpQc);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FOOQv3JQ9-2e);
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  width: var(--token-H0LaPBsBjIOg);
  height: var(--token-H0LaPBsBjIOg);
  justify-content: center;
  align-items: center;
}
.svg {
  width: var(--token-WieoZaz6vu0B);
  height: var(--token-WieoZaz6vu0B);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.menuPopover:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.menuSection__pu8Ld:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__kbrvZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
