.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-spDqyVtENu9n);
  padding: var(--token-AtfLXsnYkpxS) 18px;
}
.row {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.row > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.row > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gxCWw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.headerLeft {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: contain;
  max-width: 240px;
  width: 100%;
  align-self: flex-start;
  max-height: 74px;
  height: 118px;
  margin-bottom: 18px;
  margin-top: 18px;
  min-width: 0;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img {
    align-self: auto;
    margin: 0px 0px 10px;
  }
}
.column__q6TY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__q6TY {
    justify-content: center;
    align-items: center;
  }
}
.headerRight {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .headerRight {
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }
}
.link__hwhsg {
  position: relative;
  color: #000000;
  padding: 12px 16px;
  margin: 0px 2.5px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__hwhsg {
    padding: 8px 10px;
    margin: 0px;
  }
}
.link__kqnWb {
  position: relative;
  color: #000000;
  padding: 12px 16px;
  margin: 0px 2.5px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__kqnWb {
    padding: 8px 10px;
    margin: 0px;
  }
}
.link__p8KXz {
  position: relative;
  color: #000000;
  padding: 12px 16px;
  margin: 0px 2.5px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__p8KXz {
    padding: 8px 10px;
    margin: 0px;
  }
}
.link___48Pic {
  position: relative;
  color: #000000;
  padding: 12px 16px;
  margin: 0px 2.5px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link___48Pic {
    padding: 8px 10px;
    margin: 0px;
  }
}
